HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

SyslogFacility AUTHPRIV
PermitRootLogin {{ sshd.permit_root_login }}

AuthorizedKeysFile      .ssh/authorized_keys
#HostbasedAuthentication no
PasswordAuthentication yes
ChallengeResponseAuthentication no

GSSAPIAuthentication yes
GSSAPICleanupCredentials no
UsePAM yes

# Forwarding options
AllowAgentForwarding {{ sshd.allow_agent_forwarding }}
AllowTcpForwarding {{ sshd.allow_tcp_forwarding }}
X11Forwarding yes

AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS
AcceptEnv {{ sshd.extra_accept_env | join(' ') }}
PrintMotd no # Disable MOTD as it's printed in PAM as well
Subsystem       sftp    /usr/libexec/openssh/sftp-server
